body {
  margin: 10;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
}

.main-block,
.left-column,
.logo,
.footer {
  padding: 10px 20px 10px 20px;

}

.logo h1 {
  position: absolute;
  margin-left: 120px;
  padding-bottom: 10px;
}

.main-block {
  margin-top: 10px;
  margin-left: 450px;
  position: relative;
}

.left-column {
  margin-top: 10px;
  float: left;
  max-width: 40rem;
  margin-bottom: 20px;
}

.footer {
  margin-top: 10px;
  background-color: #333333;
  color: #ffffff;
  clear: both;
}

.left-column summary {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  list-style: none;
  line-height: 1.6;
}

.left-column a {
  text-decoration: none;
  color: #3d7e9a;
}

.left-column li {
  padding-bottom: 10px;
  max-width: 20rem;
  font-size: 1rem;
  font-family:sans-serif;
  line-height: 1.6;

}
.main-block p {
  line-height: 1.6;
  font-size: 1rem;
  font-family:sans-serif;
  box-sizing: border-box;
  max-width: 60rem;
}
