body {
  font-size: 14px;
  margin-top: 80px;
  font-family: Georgia;
}

header {
  background-color: #20232a;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 80px;
  padding-right: 20px;
  cursor: pointer;
}

header:hover {
  color:orange;
}

.main-block,
.left-column {
  padding: 10px 20px 10px 20px;
}

.main-block {
  margin-top: 10px;
  margin-left: 450px;
  position: relative;
}

.left-column {
  margin-top: 10px;
  float: left;
  max-width: 40rem;
  margin-bottom: 20px;
}

.footer {
  clear: both;
  margin-top: 10px;
  background-color: #20232a;
  color: #ffffff;
  width: 100%;
  position:relative;
  bottom: 0;
  left: 0;
}

.footer {
  flex: 0 0 auto;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #20232a;
  color: #ffffff;
  width: 100%;
}

.footer span {
  padding: 10px;
}


.left-column {
  position: absolute;
}

.left-column summary {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  color: grey;
  cursor: pointer;
}

.left-column summary:hover {
  color: black;
}

.left-column summary > span {
  margin-left:-1.1em;
  background:#fff;
}

.left-column a {
  text-decoration: none;
  color: black;
}

.left-column a:hover {
  color: grey;
}

.left-column li {
  padding-bottom: 10px;
  max-width: 20rem;
  font-size: 1rem;
  line-height: 1.6;
}
.main-block p {
  line-height: 1.6;
  font-size: 1rem;
  box-sizing: border-box;
  max-width: 60rem;
}

p {
  line-height: 1.5;
}
